In [ ]:
import argparse
import pandas as pd
import yfinance as yf

# Define the start and end dates
start_date = '2013-01-01'
end_date = '2023-03-01'

# Create the argument parser
parser = argparse.ArgumentParser(description='Download stock data using Yahoo Finance API')
parser.add_argument('ticker', type=str, help='Stock ticker symbol')

# Parse the command-line arguments
args = parser.parse_args()

# Retrieve the ticker symbol from the parsed arguments
ticker = args.ticker

# Download the stock data using yfinance and write to CSV
data = yf.download(ticker, start=start_date, end=end_date)
data.to_csv(f'data/{ticker}.csv')

In [2]:
import pandas as pd
import yfinance as yf

# Define the start and end dates
start_date = '2013-01-01'
end_date = '2023-03-01'

# Define the stock ticker symbol
ticker = 'AMZN'

# Download the stock data using yfinance
data = yf.download(ticker, start=start_date, end=end_date)

# Print the downloaded data
data

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2013-01-02  12.804000  12.905000  12.663000  12.865500  12.865500  65420000
2013-01-03  12.863500  13.044000  12.818500  12.924000  12.924000  55018000
2013-01-04  12.879000  12.990000  12.832500  12.957500  12.957500  37484000
2013-01-07  13.148500  13.486500  13.133500  13.423000  13.423000  98200000
2013-01-08  13.353500  13.449000  13.178500  13.319000  13.319000  60214000
...               ...        ...        ...        ...        ...       ...
2023-02-22  95.099998  97.010002  94.800003  95.790001  95.790001  59534100
2023-02-23  96.120003  96.430000  93.669998  95.820000  95.820000  48467000
2023-02-24  93.529999  94.139999  92.320000  93.500000  93.500000  57053800
2023-02-27  94.279999  94.779999  93.139999  93.760002  93.760002  47470300
2023-02-28  93.139999  94.690002  92.919998  94.230003  94.230003  43959300

[2557 rows x 6 columns]